* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --c-text: #505050;
  --c-border: #AAA;
  --f-text:  "PT Sans", sans-serif;
  --f-headings:  "PT Serif", serif;
}

body {
	font-family: "PT Sans", sans-serif;
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-height: 100vh;
	color: var(--c-text);
}

#root { 
  width: 100%;
  height: 100vh;
}
#root::before {
  /* background-image: url('./assets/bg.webp');
  background-size: cover;
  background-position: center center; */
  background: #f8f8f8;
  /* opacity: .3; */
  height: 100vh;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2, h3, h4 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-text);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#player1-desk {
	overflow: hidden;
	z-index: 10;
	padding-bottom: 1rem;
}

#player1-desk button {
	transition: transform .5s ease-in-out;
}

#player1-desk .selected {
	transition: transform .5s ease-in-out;
	transform: scale(1.2) translateX(.8rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #842cc7;
  }
}

.material-symbols-outlined {
  display: block;
}

#play-again {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  z-index: 100;
  position: relative;
}

.hidden {
	display: none !important;
}

table {
  border: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: .875rem;
}

/* table tr {
  border-bottom: 1px solid var(--c-text);
} */

table tr:nth-child(even) {
  background-color: #f0f0f0;
}

table thead {
  border-bottom: 2px solid var(--c-text);
  text-transform: uppercase;
}

table td, table th {
  padding: .35rem 1rem;
}

table td:nth-child(3), table th:nth-child(3) {
  min-width: 2.875rem;
}

.color-red {
  color: red;
}
.color-green {
  color: green;
}
/* tr.p1 td:first-child {
  color: green;
  font-weight: bold;
}

tr.p2 td:first-child {
  color: red;
  font-weight: bold;
} */